[Unit]
Description=feud
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/feud
ExecStart=/opt/feud/feud.mjs
EnvironmentFile=/opt/feud/.env

[Install]
WantedBy=multi-user.target
